.Landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 500;
  background-image: url("../../images/aka1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  /* scroll effect */
  background-attachment: scroll;

  /* darken background image */
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  background-attachment: fixed !important;
}

.landing-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 500;
  min-width: fit-content;
}

.landing-description {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0); */
  padding: 20px;
  border-radius: 10px;
  width: max-content;
}

.contact-button {
  top: 80%;
  width: fit-content;
  margin-top: 10px;
}

/* medium up */
@media (min-width: 1024px) {
  .text-div {
    position: absolute;
    top: 15vh;
    right: 5vw;
    border-radius: 10px;
  }

  .landing-title {
    font-size: 5rem;
  }

  .contact-button {
    position: absolute;
    margin-top: 0px;
  }
}

@media (min-width: 1440px) {
  .text-div {
    top: 10vh;
  }
  .landing-title {
    font-size: 7rem;
  }
}

@media (min-width: 2500px) {
  .landing-title {
    font-size: 10rem;
  }

  .landing-description {
    font-size: 3rem;
  }
}
