.Landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  color: rgb(73, 70, 72);
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-image: url("../../images/aka1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-attachment: scroll;
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
  .text-div {
    position: absolute;
    top: 15%;
    left: 60%;
    /* dark background */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  .Landing {
    background-attachment: fixed !important;
  }

  .contact-button {
    position: absolute;
    margin-top: 0px;
  }
}

.landing-content {
  width: 100%;
  min-height: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  text-align: center;
}

.landing-description {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  text-align: center;
  margin-bottom: 2rem;
  text-align: left;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.contact-button {
  top: 80%;
  width: fit-content;
  text-align: center;
  justify-self: end;
  margin-top: 10px;
}

@media screen and (min-width: 1441px) {
  .landing-title {
    font-size: 8rem;
  }
  .landing-description {
    font-size: 2rem;
  }

  .text-div {
    left: 70%;
  }
}
