@keyframes float {
	from,
	to {
		transform: translateY(-0%);
	}

	50% {
		transform: translateY(-7%);
	}
}

.line {
	display: flex;
	justify-content: space-between;
	cursor: default;
}

.word {
	color: var(--off-white);
	font-size: clamp(1.75rem, 4vw, 9rem);
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	margin: 0rem;
	text-transform: uppercase;
	transition: opacity 250ms ease;
	opacity: 0.2;
}

#special-1 {
	opacity: 1 !important;
}

#special-2:hover {
	opacity: 1 !important;
}

a {
	text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
	opacity: 0.2;
}

.fancy span {
	display: inline-block;
}

.fancy > .outer {
	transition: transform 350ms ease;
}

.fancy:hover > .outer {
	transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
	animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
	background-size: 1000%;
	color: var(--secondary-color);
	--webkit-background-clip: text;

	--webkit-text-fill-color: transparent;
}

.fancy:hover > .outer:nth-child(1) {
	transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
	transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
	transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
	transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
	transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
	transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
	transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
	transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
	transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
	transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
	transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
	transform: translate(30%, -30%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(13) {
	transform: translate(43%, 32%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(14) {
	transform: translate(20%, 10%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(15) {
	transform: translate(30%, -39%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(16) {
	transform: translate(60%, 13%) rotate(34deg);
}
