.about {
  width: 85vw;
  /* height: fit-content; */
  margin: auto;
  /* margin-bottom: 5%; */
  /* padding: 10px; */
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--off-white);
  overflow: hidden;
}

.about h1 {
  color: var(--off-white);
}

.picture {
  display: block;
  margin: 0 auto;
  width: 100%;

  overflow: hidden;

  filter: brightness(110%) grayscale(10%) saturate(0.7);
}
.zach-img {
  width: 100%;
  height: 100%;

  margin-left: 5px;
}

@media (max-width: 1000px) {
  .picture {
    display: none;
  }

  .zach-img {
    display: none;
  }
}

.about-right {
  width: 50%;
}

.about-description {
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  .about {
    width: 90%;
    padding: 10px;
  }
  .about-right {
    width: 100%;
  }
  .about-description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .picture {
    width: 45%;
    margin-bottom: 20px;
  }
  #about-flag {
    padding: 10px;
  }

  .about-left {
    margin-top: 20px;
  }

  .picture {
    margin-top: 20px;
  }
}

#about-flag {
  justify-content: flex-start;
  margin-top: 10px;
}

.down-arrow-special {
  width: 0;
  height: 0;
  border: 50vw solid transparent;
  border-top: 100px solid var(--primary-color);
  border-bottom: 0px;
  position: relative;
  transform: translateY(100px);
}

.up-arrow-special {
  width: 0;
  height: 0;
  border: 50vw solid transparent;
  border-bottom: 100px solid var(--primary-color);
  border-top: 0px;
  position: absolute;
  transform: translateY(-100px) translateX(-15px);
  z-index: 99;
  max-width: 99vw !important;
  overflow: hidden;
}

@media (min-width: 2000px) {
  .picture {
    height: 125%;
    width: 125%;
  }
}
