.about {
  width: 75%;
  height: fit-content;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  background-color: #edeaea;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.picture {
  display: block;
  margin: 0 auto;

  width: 70%;
  max-width: 350px;
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid var(--primary-color);
  background-color: rgb(201, 198, 198);
  box-shadow: 0px 0px 10px 0px #000000;
}
.zach-img {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.35);
  margin-left: 5px;
  filter: brightness(90%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -o-filter: grayscale(30%);
}

.about-right {
  width: 50%;
}

.about-description {
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .about {
    width: 90%;
    padding: 10px;
  }
  .about-right {
    width: 100%;
  }
  .about-description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .picture {
    width: 45%;
    margin-bottom: 20px;
  }
  #about-flag {
    padding: 10px;
  }

  .about-left {
    margin-top: 20px;
  }

  .picture {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .picture {
    width: 60%;
    margin-top: 40px;
  }
}

#about-flag {
  justify-content: flex-start;
}
