.about {
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  /* background-color: rgb(87, 86, 86); */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--off-white);
}

.iframe {
  width: 500px;
  height: 500px;
}

@media (min-width: 1600px) {
  .iframe {
    width: 800px;
    height: 800px;
  }
}

.about h1 {
  color: var(--off-white);
}

.hidden {
  visibility: hidden;
  position: absolute;
}
.picture {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid var(--primary-color);
  background-color: rgb(201, 198, 198);
  box-shadow: 0px 0px 10px 0px #000000;
}
.zach-img {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.35);
  margin-left: 5px;
  filter: brightness(90%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -o-filter: grayscale(30%);
}

.about-right {
  width: 50%;
}

.about-description {
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  .about {
    width: 90%;
    padding: 10px;
  }
  .about-right {
    width: 100%;
  }
  .about-description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .picture {
    width: 45%;
    margin-bottom: 20px;
  }
  #about-flag {
    padding: 10px;
  }

  .about-left {
    margin-top: 20px;
  }

  .picture {
    margin-top: 20px;
  }
}

/* @media (max-width: 1024px) and (min-width: 800px) {
  .picture {
    width: 60%;
    margin-top: 40px;
  } */

#about-flag {
  justify-content: flex-start;
  margin-top: 10px;
}

.iframe-text {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.iframe-movement-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mouse-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
