.nav {
  z-index: 100 !important;
  background-color: #000000 !important;
  /* position: relative; */
  overflow: hidden;
}

.flag-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-flag-div {
  position: fixed;
  right: 0.5%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.flag-div-holder :hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.flag {
  width: 35px;
  height: 25px;
}

/*  mobile */
@media (max-width: 768px) {
  .nav {
    position: fixed !important;
    opacity: 0.8;
  }
}

@media (min-width: 1600px) {
  .flag {
    width: 45px;
    height: 35px;
  }
}
