.nav {
  z-index: 100 !important;
  background-color: #000000 !important;
  position: relative;
}

@media (max-width: 768px) {
  .nav {
    position: fixed !important;
    opacity: 0.5;
  }
}

.flag-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-div-holder {
  animation: grow 1s ease-in-out infinite alternate;
}

.flag-div-holder :hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
