footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(191, 191, 191);
}
