footer {
  background-color: var(--black);
  color: white;

  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
  width: 100%;
  overflow: hidden;

}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;

}
@media (max-width: 455px) {
  .footer-text {
    display: none;
    z-index: 10
  }
}
