.direction-btn {
  display: none !important;
}

.direction-icon {
  display: none;
}

#Blog {
 text-align: center;
 background-color: black
}

@media (min-width: 600px) {
  .direction-btn {
    display: flex !important;
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
  }

  .direction-icon {
    display: block;
  }
}

@media (min-width: 2000px) {
  .direction-btn {
    margin: 20px;
  }
}
