.direction-btn {
	display: none !important;
}

.direction-icon {
	display: none;
}

#Blog {
	text-align: center;
	background-color: var(--black);
}

@media (min-width: 600px) {
	.direction-btn {
		display: flex !important;
		width: 60px;
		height: 60px;
		min-width: 60px;
		background-color: black;
		border-radius: 50%;
		justify-content: center;
	}

	.direction-icon {
		display: block;
	}
}

@media (min-width: 2000px) {
	.direction-btn {
		margin: 20px;
	}
}

@media (max-width: 800px) {
	#Blog {
		display: none;
	}

	#BlogList {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		margin-bottom: 16px;
	}
}

@media (min-width: 801px) {
	#BlogList {
		display: none;
	}
}

.blog-post-list-heading {
	text-align: center;
}

a {
	text-decoration: none;
}

.blog-post-list-title {
	color: var(--secondary-color);
	text-align: center;
}
