.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: auto;
}

@media (max-width: 455px) {
  .social-link {
    margin: 10px;
  }
}
@media (max-width: 600px) {
  .social-links {
    width: 100%;
  }
}
