.social-links-vertical {
  position: absolute;
  left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 75px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}

.social-links-vertical a {
  padding: 10px;
}

@media (max-width: 768px) {
  .social-links-vertical {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: auto;
    left: 0%;
    margin-top: 20px;
  }
}

.social-link-img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
