.social-links-vertical {
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 75px;
  height: fit-content;
}

.social-links-vertical a {
  padding: 10px;
}

@media (max-width: 768px) {
  .social-links-vertical {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: auto;
  }
}

.social-link-img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
